# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe
*.ilk
*.pdb
*.idb

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Visual Studio
.vs
*.tlog
*.log
*.lastbuildstate